span {
    font-size:15px;
}

.box {
    padding:60px 0px;
}

.box-part {
    background-color:rgb(252, 245, 232);
    border: 1px solid grey;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}

.icon {
    font-size: 2rem;
}