<nav class="navbar bg-light">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink='accueil' routerLinkActive='active'>Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='boissons' routerLinkActive='active'>Liste des boissons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='ajouter-boisson' routerLinkActive='active'>Ajouter une boisson</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='point-vente' routerLinkActive='active'>Liste des points de vente</a>
    </li>
  </ul>
</nav>